.ModalRoot{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}

.ModalWrapper{
    padding: 1em;
    border-radius: 0.5em;
    background-color: #fff;
    width: auto;
    height: auto;
    display: flex;
}

.DeleteModal{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.modal_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.DeleteModal_itemName{
    text-decoration: underline;
    color: rgb(69, 60, 92);
}

.EditModal{
    width: 200px;
    height: auto;
}

.EditModal_inputRow{
    display: block;
    padding-bottom: 1em;
    width: 100%;
    text-align: left;
}