.App {
  text-align: center;
  background-color: #929faf;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.App-content {
  background-color: #e1e8f1;
  width: 40%;
  height: auto;
  min-height: 30vh;
  margin-top: 10vh;
}
